@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Krona+One&family=Lobster&family=PT+Sans+Narrow&family=Podkova:wght@400;600;700;800&display=swap");

$Lobster: "Lobster", cursive;
$Krona: "Krona One", sans-serif;
$Abril: "Abril Fatface", cursive;
$Narrow: "PT Sans Narrow", sans-serif;
$Podkova: "Podkova", serif;

html {
  font-size: 62.5%;
}

h1 {
  display: flex;
  text-transform: uppercase;
  .tinyHeader {
    font-family: $Lobster;
    font-size: 4rem;
    position: relative;
    align-self: center;
    margin-right: 20px;
    &::before {
      content: "";
      position: absolute;
      background-color: $gold;
      width: 100%;
      height: 3px;
      top: 0;
      bottom: 0;
    }
    &::after {
      content: "";
      position: absolute;
      background-color: $gold;
      width: 100%;
      height: 3px;
      bottom: 0px;
      left: 0px;
    }
  }
  .largeHeader {
    font-family: $Krona;
    font-size: 8rem;
    line-height: 0.9;
    position: relative;
    color: $gold;
    z-index: 0;
    &::before {
      content: "MOVIE NOMMIES";
      position: absolute;
      bottom: 5px;
      right: 5px;
      text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
      z-index: 1;
    }
  }
}

h2 {
  font-size: 4rem;
  text-transform: uppercase;
  font-family: $Narrow;
  color: #f2a07b;
  text-shadow: 0 0 1px #7d0633, 0 0 1px #7d0633, 0 0 1px #7d0633,
    0 0 1px #7d0633;
}

h3 {
  font-size: 3rem;
  font-family: $Podkova;
  font-weight: 800;

  span {
    font-size: 2.5rem;
    color: $darkOrange;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
