.Header {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white;

  .headerImage {
    background-image: url("../assets/movieCamera.png");
    background-size: cover;
    height: 300px;
    width: 360px;
    object-fit: cover;
  }
}
