.Hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $white;
  .heroTitles {
    width: 100%;
    display: flex;
    margin-top: 80px;
    align-items: center;
    justify-content: center;
  }
  .headings {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 20px;
  }
  .heroImage {
    background-image: url("../assets/movieCamera.png");
    background-size: cover;
    height: 300px;
    width: 360px;
    object-fit: cover;
  }
}

// responsive CSS

@include max-width(900) {
  .heroTitles {
    display: flex;
    flex-direction: column;
  }
  .headings {
    flex-direction: column;
    width: 95% !important;
  }

  .heroImage {
    width: 100% !important;
    margin-bottom: 40px;
    object-fit: cover;
    background-size: contain !important;
    background-repeat: no-repeat;
  }
}
