.moviesResultList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  padding-bottom: 60px;
}
.moviesResultListItem,
.nommiesListItem {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 40%;
  display: flex;
  height: 250px;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  align-items: center;
  border-radius: 15px;
  margin: 25px;
}
.nommiesListItem {
  width: 80%;
}
.moviePoster {
  height: 100%;
  width: 40%;
  img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.movieInfo {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 60%;
  align-items: flex-start;
  height: 100%;
  padding: 10px;
  justify-content: space-evenly;
  .movieTitle {
    width: 100%;
  }
  .movieYear {
    span {
      color: rgba(0, 0, 0, 0.8);
      font-size: 1.2rem;
    }
    h4 {
      font-size: 1.7rem;
    }
  }
  .movieButtons {
    display: flex;
    width: 100%;
    justify-content: space-around;
    button,
    a {
      border: 0;
      background: $darkPurple;
      color: white;
      font-size: 40px;
      width: 80px;
      height: 48px;
      text-align: center;
      border-radius: 10px;
      box-shadow: 0 18px 15px -10px rgba($darkPurple, 0.5);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      transition: 0.3s ease-in-out;
      &:hover {
        background: rgba($darkPurple, 0.7);
      }
      &[disabled] {
        background: $lightGrey;
        box-shadow: none;
        border: 0;
        cursor: not-allowed;
      }
    }
  }
}

// responsive CSS 

@include max-width(805){
  .moviesResultListItem{
    width: 70%;
  }
}

@include max-width(520){
  .moviesResultListItem{
    width: 100%;
    height: 290px;
  }
}

@include max-width(440){
  .moviesResultListItem {
    flex-direction: column;
    height: 360px;
    .moviePoster {
      width: 100%;
      height: 40%;
    }
    .movieInfo {
      width: 100%;
    }
    .movieButtons {
      width: 100%;
      justify-content: space-around;
      align-items: center;
      button,
      a {
        margin-top: 10px ;
      }
    }
  }
}