.Nominations {
  position: absolute;
  top: 0;
  right: 0;
  overflow: scroll;
  .nominationsToggle {
    
  }
    .nominationsList {
        overflow-y: scroll;
      background: olive !important;
      .nommiesListItem {
        width: 80%!important;
        background: wheat;
      }
    }
}
