.Nominations {
  // background: pink;
  overflow: scroll;
    .nominationsList {
        overflow-y: scroll;
      background: olive !important;
      .nommiesListItem {
        width: 80%!important;
        background: wheat;
      }
    }
}
