@import "./setup";
@import "./colors";
@import "./fonts";
@import "./hero";
@import "./movieSearch";
@import "./movieResults";
@import "./nominations";

body {
background: linear-gradient(to top, #cc5333, #23074d); 
}

.App {
  background-color: $white;
  min-height: 110vh;
  position: relative;
}

.wrapper {
  max-width: 1080px;
  width: 95%;
  margin: 0 auto;
}
