@import "./setup";
@import "./colors";
@import "./breakpoints";
@import "./fonts";
@import "./hero";
@import "./movieSearch";
@import "./movieResults";
@import "./nominations";
@import "./footer";

body {
  background: linear-gradient(to top, #cc5333, #23074d);
}

.App {
  background-color: $white;
  min-height: 120vh;
  position: relative;
}

.wrapper {
  max-width: 1080px;
  width: 95%;
  margin: 0 auto;
}
